.nav-container{
    /* background-color: black; */
    color: white;
    /* height: 13vh; */
    width: 100%;
    background: linear-gradient(-45deg ,black, blue,black);
}
.Nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 90%;
    margin: 0 auto;
    /* height: 10vph; */
}
.right{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 2rem;
    cursor: pointer;
    padding:0 .3rem;
    
}
.right-p{
    padding:.4rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.5rem;
}
.right-p:hover{
    background-color: dimgray;
    /* padding: .2rem; */
    border-radius: 0.2rem;
    transition:ease-in 0.2s;
}
.logo{
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: blue;
    text-shadow: 4px 2px white;
    margin-top: .5rem;
}