.nav_container {
  background-color: black;
  color: white;
}
.nav_elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  /* height: 10vph; */
}
.right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  cursor: pointer;
  padding: 0 0.5rem;
}
.elem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_box {
  margin: 0 5px;
  color: black;
  padding: 5px 20px;
  border-radius: 20px;
  border: 4px solid #004aad;
}
.search_box:hover {
  border-color: #055ccf;
  transition: ease-in-out 0.2s;
}

li {
  list-style: none;
  margin: 5px;
}

.user {
  padding: 5px;
  border: 4px solid #004aad;
  border-radius: 100%;
}

.user:hover {
  background-color: #004aad;
  color: #000;
}
