.main_container {
  display: flex;
  flex-direction: row;
  background-color: black;
  font-family: cursive;
}
.con1 {
  background-color: black;
  color: white;
  width: 20%;
}
.con2 {
  background-color: #1a1a1a;
  padding: 30px;
  height: 100vh;
  border-radius: 20px;
  margin: 0 20px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.con3 {
  display: flex;
  align-items: center;
  justify-content: left;
}

.con4 {
  position: absolute;
  bottom: -5%;
}

.con4 h5 {
  font-size: 15px;
}

.con3 h4 {
  font-size: 20px;
  margin: 20px 10px;
}

.detailContainer {
  width: 90%;
  padding: 5px;
  margin: 0 20px 0 0;
  border-radius: 25px;
  background-color: #1a1a1a;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow-x: auto;
}
